<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Fit Manager</title>
</head>

<body class="index">
    <main>
        <div class="header">
            <div class="content">
                <h1>Bienvenido</h1>
                <p>Ingresar a Fit Manager como:</p>
            </div>
        </div>
        <div class="buttons">
            <div class="left"><a href="./signin.html"><button class="index-button">INVITADO</button></a></div>
            <div class="left"><a href="./admin.html"><button class="index-button">ADMINSTRADOR</button></a></div>
        </div>
        <div class="img"><img src="./img/img1.jpg" alt="w"></div>
    </main>
    <script src="./js/index.js"></script>
</body>

</html>