<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Fit Manager</title>
</head>

<body class="dash">
    <main>
        <div class="topnav">
            <div class="topnav-content">
                <h1>FIT MANAGER</h1>
            </div>
            <div class="topnav-content">
                <table>
                    <tr>
                        <td class="nav-link active"><a href="#about">ACERCA DE</a></td>
                        <td class="nav-link"><a href="#equipment">EQUIPO</a></td>
                        <td class="nav-link"><a href="#employee">PERSONAL</a></td>
                        <td class="nav-link"><a href="#user">USUARIOS</a></td>
                        <td class="nav-link"><a href="#product">PRODUCTOS</a></td>
                        <td class="nav-link"><a href="#calendar">CALENDARIO</a></td>
                        <td class="nav-link"><a href="#docs">DOCUMENTACION</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dash-container" id="about">
            <div class="admin-row">
                <div class="admin-left">
                    <div class="dash-header">
                        <h1>Elaborador por:</h1>
                        <p>
                        <ul>
                            <li>Calvillo Benitez Juan Antonio</li>
                            <li>Frias Ramirez Ruben</li>
                            <li>Ramirez Acosta Fernando</li>
                            <li>Perez Suarez Pablo</li>
                            <li>Sanchaz Mendiola Adrian</li>
                            <li>Urquiza Luis Jesus Alexis</li>
                        </ul>
                        </p>
                    </div>
                    <br><br><br><br>
                </div>
                <div class="admin-left">
                    <div class="admin-img"><img src="./img/img1.jpg" alt="w"></div>
                </div>
            </div>
        </div>
        <div class="dash-container" id="equipment">
            <div class="admin-row">
                <div class="data-show">
                    <table class="table-data">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Nombre</th>
                                <th>Marca</th>
                                <th>Descripción</th>
                                <th>Encargado</th>
                            </tr>
                        </thead>
                        <tbody id="equiposTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dash-container" id="employee">
            <div class="admin-row">
                <div class="data-show">
                    <table class="table-data">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Nombre</th>
                                <th>Apellido paterno</th>
                                <th>Apellido materno</th>
                                <th>Edad</th>
                                <th>Correo electronico</th>
                                <th>Usuario</th>
                                <th>Puesto</th>
                            </tr>
                        </thead>
                        <tbody id="empleadosTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dash-container" id="user">
            <div class="admin-row">
                <div class="data-show">
                    <table class="table-data">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Nombre</th>
                                <th>Apellido paterno</th>
                                <th>Apellido materno</th>
                                <th>Edad</th>
                                <th>Correo electronico</th>
                                <th>Telefono</th>
                            </tr>
                        </thead>
                        <tbody id="usuariosTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dash-container" id="product">
            <div class="admin-row">
                <div class="data-show">
                    <table class="table-data">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Nombre</th>
                                <th>Marca</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Inventario</th>
                            </tr>
                        </thead>
                        <tbody id="productosTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dash-container" id="calendar">
            <div class="admin-row">
                <div class="dash-sales">
                    <div class="calendar-container">
                        <h2>Calendario de Horarios de Servicio</h2>
                        <br><br>
                        <div class="calendar-header">
                            <button id="prevMonth">Anterior</button>
                            <span id="monthYear"></span>
                            <button id="nextMonth">Siguiente</button>
                        </div>
                        <br><br>
                        <div class="calendar">
                            <div class="calendar-day">Lun</div>
                            <div class="calendar-day">Mar</div>
                            <div class="calendar-day">Mié</div>
                            <div class="calendar-day">Jue</div>
                            <div class="calendar-day">Vie</div>
                            <div class="calendar-day">Sáb</div>
                            <div class="calendar-day">Dom</div>
                        </div>
                        <div id="service-info" class="service-info">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-container" id="docs">
            <div class="admin-row">
                <div class="dash-sales">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iste ullam aliquid nostrum,
                        blanditiis eaque eius repellendus, enim, id temporibus provident nisi iure assumenda error
                        pariatur nihil perspiciatis commodi delectus.</p>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/index.js"></script>
</body>

</html>