<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Fit Manager</title>
</head>

<body class="dash">
    <main>
        <div class="topnav">
            <div class="topnav-content">
                <h1>FIT MANAGER</h1>
            </div>
            <div class="topnav-content">
                <table>
                    <tr>
                        <td class="nav-link active"><a href="#about">ACERCA DE</a></td>
                        <td class="nav-link"><a href="#sales">VENTAS</a></td>
                        <td class="nav-link"><a href="#calendar">CALENDARIO</a></td>
                        <td class="nav-link"><a href="#docs">DOCUMENTACION</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dash-container" id="about">
            <div class="admin-row">
                <div class="admin-left">
                    <div class="dash-header">
                        <h1>Elaborador por:</h1>
                        <p>
                        <ul>
                            <li>Calvillo Benitez Juan Antonio</li>
                            <li>Frias Ramirez Ruben</li>
                            <li>Ramirez Acosta Fernando</li>
                            <li>Perez Suarez Pablo</li>
                            <li>Sanchaz Mendiola Adrian</li>
                            <li>Urquiza Luis Jesus Alexis</li>
                        </ul>
                        </p>
                    </div>
                    <br><br><br><br>
                </div>
                <div class="admin-left">
                    <div class="admin-img"><img src="./img/img1.jpg" alt="w"></div>
                </div>
            </div>
        </div>
        <div class="dash-container" id="sales">
            <div class="admin-row">
                <div class="dash-sales">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iste ullam aliquid nostrum,
                        blanditiis eaque eius repellendus, enim, id temporibus provident nisi iure assumenda error
                        pariatur nihil perspiciatis commodi delectus.</p>
                </div>
            </div>
        </div>
        <div class="dash-container" id="calendar">
            <div class="admin-row">
                <div class="dash-sales">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iste ullam aliquid nostrum,
                        blanditiis eaque eius repellendus, enim, id temporibus provident nisi iure assumenda error
                        pariatur nihil perspiciatis commodi delectus.</p>
                </div>
            </div>
        </div>
        <div class="dash-container" id="docs">
            <div class="admin-row">
                <div class="dash-sales">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iste ullam aliquid nostrum,
                        blanditiis eaque eius repellendus, enim, id temporibus provident nisi iure assumenda error
                        pariatur nihil perspiciatis commodi delectus.</p>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/index.js"></script>
</body>

</html>